# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/


# Translations
*.mo
*.pot

# Django stuff:
*.log
*/migrations/*
local_settings.py
*/migrations/*
authors/apps/articles/migrations/0001_initial.py
authors/apps/articles/migrations/0002_auto_20190315_1729.py
authors/apps/authentication/migrations/0001_initial.py
authors/apps/profiles/migrations/0001_initial.py


# Flask stuff:
instance/
.webassets-cache
*/migrations/*

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/
envname/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# SQLite3
db.sqlite3
groot_db

# IDE
.vscode
