<center>

    <table border="0" cellpadding="20" cellspacing="0" height="100%" id="m_2605860808395050722backgroundTable" style="background-color:#f3f3f3" width="100%">

        <tbody>

            <tr>

                <td align="center" valign="top">

                <table border="0" cellpadding="0" cellspacing="0" id="m_2605860808395050722templateContainer" style="background-color:transparent;border:1px solid transparent" width="600">

                    <tbody>

                        <tr>

                            <td align="center" valign="top">

                            <table border="0" cellpadding="0" cellspacing="0" id="m_2605860808395050722templateHeader" width="600">

                                <tbody>
                                    <h1>Authors Haven _ Groot</h1>
                                </tbody>

                            </table>

                            </td>

                        </tr>

                        <tr>

                            <td align="center" valign="top">

                            <table border="0" cellpadding="0" cellspacing="0" id="m_2605860808395050722templateBody" style="background-color:#fff" width="600">

                                <tbody>

                                    <tr>

                                        <td class="m_2605860808395050722bodyContent" style="color:#505050;font-size:14px;line-height:150%;text-align:left" valign="top">

                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">

                                            <tbody>

                                                <tr>

                                                    <td style="border:1px solid #ddd;border-top:none" valign="top">

                                                    <div style="padding-top:1px"><table style="width:100%">

      <tbody><tr>

        <td style="text-align:center">

          <div style="font-size:18px;margin-bottom:3px;text-align:center">
           {{sender}} has shared an article with you
          </div>
          <a style="display:inline-block;width:200px;background-color:#008CBA;;text-decoration:none;color:#fff;font-weight:600;text-align:center;padding:10px 0px 10px 0px;border-radius:5px;border:1px solid #008CBA;" href="{{article_link}}">Click here to view it</a>
        </td>
      </tr>
    </tbody></table>
    </div>
                                                    </td>
                                                </tr>

                                            </tbody>

                                        </table>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>

                            </td>

                        </tr>

                        <tr>

                            <td align="center" valign="top">

                            <table border="0" cellpadding="0" cellspacing="0" id="m_2605860808395050722templateFooter" width="600">

                                <tbody>

                                    <tr>

                                        <td class="m_2605860808395050722footerContent" style="background:#f3f3f3;color:#707070;font-size:11px;line-height:125%;text-align:left" valign="top">

                                        <table border="0" cellpadding="0" cellspacing="0" style="border:1px solid transparent" width="100%">

                                            <tbody>

                                                <tr>

                                                    <td valign="top" width="310">

                                                    <div style="color:#999999;font-size:11px;line-height:15px"><br>

                                                    Copyright © 2019 AH Groot, all rights reserved.<br>

                                                    </td>

                                                </tr>

                                            </tbody>

                                        </table>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>

                            </td>

                        </tr>

                    </tbody>

                </table>

                </td>

            </tr>

        </tbody>

    </table>



    <p>&nbsp;</p>

    </center>